svg.heartIcon:hover {
  cursor: pointer;
  stroke: lightgray;
  transform: scale(1.1);
  fill: rgb(255, 0, 0, 0.5);
}

svg.heartIcon.redHeart:hover {
  fill: rgb(255, 0, 0);
}

.redHeart {
  opacity: 1;
}

svg.album {
  position: absolute;
  top: 5%;
  right: 5%;
}

svg.artist {
  margin-left: auto;
  display: block;
}
