.iconsContainer svg:hover {
  cursor: pointer;
  stroke: lightgray;
  fill: rgb(32, 178, 170, 0.3);
  transform: scale(1.1);
}

.iconsContainer svg:global(.feather-heart):hover {
  fill: rgb(255, 0, 0, 0.5);
}

.iconsContainer svg:global(.feather-heart).redHeart:hover {
  fill: rgb(255, 0, 0);
}

.iconsContainer {
  display: flex;
  align-items: center;
  margin-left: 30px;
  gap: 20px;
}

.iconsContainer svg {
}

.redHeart {
  opacity: 1;
}
