.img {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--dark-bg-color);
}

.listItemWrapper {
  margin-right: 25px;
}

.listItem {
  color: inherit;
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 15px 15px 20px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--darker-bg-color);
  /* margin-right: 25px; */
  transition: background-color 0.3s;
}

.listItem:hover {
  background-color: var(--medium-hover-color);
}

.listItem:active {
  background-color: var(--medium-hover-color);
}

.listItem:hover :global(.playBtn) {
  opacity: 1;
  right: 5%;
  bottom: 5%;
}

.textContainer {
  margin-top: 25px;
}

.title,
.subtitle {
  word-break: break-word;
}

.title {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.subtitle {
  font-size: 0.8rem;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--light-white-color);
}

.square {
  border-radius: 5px;
}

.circle {
  border-radius: 50%;
}

@media screen and (max-width: 1200px) {
  .title {
    margin-bottom: 0;
  }

  .subtitle {
    display: none;
  }

  .listItemWrapper:last-child {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .listItemWrapper:nth-child(4):not(:global(.releases-albums) li) {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .listItemWrapper:nth-child(4):not(:global(.releases-albums) li) {
    display: unset;
  }
}

@media screen and (max-width: 600px) {
  .listItemWrapper {
    margin-right: 16px;
  }
}

/* @media screen and (max-width: 360px) {
  .listItem {
    margin-right: 10px;
  }
} */
