.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: var(--light-white-color);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}

.link:hover {
  color: var(--light-white-color);
}

.nav a:global(.active) {
  background-color: var(--highlight-btn-color);
}

.cta:link,
.cta:visited {
  display: inline-block;
  background-color: var(--medium-btn-color);
  color: var(--light-white-color);
  text-transform: uppercase;
  text-decoration: none;
  padding: var(--space-base) var(--space-m);
  border-radius: var(--space-xs);
}

.cta:hover {
  background-color: var(--highlight-btn-color);
}
