.trackItem:first-child {
  padding-top: 10px;
}

.trackItem {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 8px;
}

@media screen and (max-width: 900px) {
  .trackItem {
    padding-left: 0;
  }
  .trackItem:first-child {
    padding-top: 5px;
  }
}

.trackItem:hover {
  background-color: var(--darker-bg-color);
  outline: 1px solid var(--medium-outline-color);
}

:global(.btnsContainer) {
  opacity: 0;
}

.trackItem:hover :global(.btnsContainer) {
  opacity: 1;
}

.trackItem:hover :global(.noteContainer) {
  opacity: 0;
}

/* .trackItem:hover .iconsContainer svg {
  stroke: lightgrey;
  transform: scale(1.1);
} */

/* .iconsContainer svg:hover {
  cursor: pointer;
  stroke: lightgray;
  fill: rgb(32, 178, 170, 0.3);
  transform: scale(1.1);
}

.iconsContainer svg:global(.feather-heart):hover {
  fill: rgb(255, 0, 0, 0.5);
}

.iconsContainer svg:global(.feather-heart).redHeart:hover {
  fill: rgb(255, 0, 0);
} */

.track .trackItem img {
  height: 50px;
  width: 50px;
}

/* .trackItem div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

/* .iconsContainer {
  display: flex;
  align-items: center;
  padding-left: 30px;
  gap: 20px;
}

.iconsContainer svg {
} */

.trackItem.big {
  display: grid;
  grid-template-columns: 2fr 1fr auto;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 8px;
}

.trackItem.big > ul:nth-child(2) {
  justify-self: center;
}

@media screen and (max-width: 900px) {
  .trackItem.big {
    grid-template-columns: 1fr auto;
  }

  .trackItem.big > ul:nth-child(2) {
    display: none;
  }

  .trackItem.big > :last-child {
    display: flex;
  }
}

@media screen and (max-width: 750px) {
  .trackItem.big {
    grid-template-columns: 1fr auto;
  }

  .trackItem.big > :last-child {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .trackItem.big h3 {
    font-size: 0.9rem;
  }

  .trackItem.big h4 {
    font-size: 0.8rem;
  }
}
