.operations {
  display: flex;
  align-items: center;
}

.operations :global(.row) {
  gap: 1.6rem;
  flex: 1;
}

.operations :global(.title) {
  margin-right: auto;
  white-space: nowrap;
}

.albums {
  padding-right: var(--space-l);
}

@media screen and (max-width: 600px) {
  .operations :global(.title) {
    font-size: 1.2rem;
  }

  .operations :global(.filterContainer) {
    display: none;
  }

  .operations select {
    font-size: 0.9rem;
  }
}
