/* h2.title {
  margin-top: 20px;
} */

@media screen and (max-width: 900px) {
  h2.title {
    margin-top: 30px;
  }
}

@media screen and (max-width: 600px) {
  h2.title {
    margin-top: 15px;
  }
}

.tracklist {
  list-style: none;
  height: 350px;
  margin-top: auto;
  margin-bottom: auto;
}

.tracklist.big {
  height: auto;
}

.popularTracks {
  position: relative;
}
