.buttonContainer {
  height: 33px;
  width: 33px;
  border: none;
}

.buttonContainer button:hover {
  cursor: pointer;
  background: var(--main-btn-color);
  opacity: 1;
}

.buttonContainer button:hover svg {
  fill: var(--light-white-color);
}

.buttonContainer button {
  border-radius: 50%;
  background: black;
  height: 100%;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .buttonContainer {
    height: 56px;
    width: 56px;
  }

  .buttonContainer button {
    background: transparent;
  }

  .buttonContainer button:hover {
    background: none;
  }

  .buttonContainer svg {
    fill: none;
    stroke: var(--light-white-color);
  }
}
