.appHeader {
  position: sticky;
  top: -1px;
  padding-top: 9px;
  z-index: 51;
  /* transition: background 1s; */
}

.hidden {
  visibility: hidden;
}

.invertedBorderRadius {
  background: black;
  width: 100%;
  height: 8px;
  position: relative;
}

.invertedBorderRadius::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 8px;
  height: 8px;
  background: transparent;
  border-top-left-radius: 4px;
  box-shadow: 0 -4px black;
}

.invertedBorderRadius::before {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 0;
  width: 8px;
  height: 8px;
  background: transparent;
  border-top-right-radius: 4px;
  box-shadow: 0 -4px black;
}

.noBackground,
.noBackground > * {
  background: transparent;
}

.greenBackground {
  padding-top: 0;
  top: 0;
}

.btnsContainer {
  display: flex;
  justify-content: space-between;
}

.btnsContainer > * {
  /* flex: 1 1 auto; */
  padding-top: 10px;
  padding-bottom: 10px;
  background: transparent;
}

.appHeaderLeft {
  border-top-left-radius: 4px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding-left: 25px;
  height: 100%;
}

.appHeader svg:global(.feather-headphones) {
  margin-top: 8px;
  margin-bottom: 8px;
}

.appHeaderRight {
  border-top-right-radius: 4px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* gap: 16px; */
  padding-right: 30px;
}

@media screen and (min-width: 601px) {
  .appHeader svg:global(.feather-headphones) {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .appHeader :global(.navBtns) {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .appHeader,
  .appHeader > * {
    padding: 0;
    margin: 0;
    background: var(--darker-bg-color);
  }

  .appHeader > * {
    height: 56px;
    background: var(--darker-bg-color);
  }

  /* .appHeaderLeft {
      padding-left: 16px;
    }

    .appHeaderRight {
      padding-right: 16px;
    } */

  .appHeader svg {
    width: 24px;
    height: 24px;
  }
}
