.sidebar {
  box-sizing: border-box;
  padding: 8px 10px 8px 25px;
  background-color: var(--darkest-bg-color);
  border-radius: 4px;
}

@media screen and (max-width: 1200px) {
  .sidebar {
    padding-left: 20px;
  }
}

@media screen and (max-width: 900px) {
  .sidebar {
    padding-left: 15px;
  }
}

@media screen and (max-width: 600px) {
  .sidebar {
    padding-left: 5px;
  }
}
