.sidebar {
  box-sizing: border-box;
  padding: 15px 10px 8px var(--space-l);
  background-color: var(--darkest-bg-color);
  border-radius: 4px;
}

.sidebar.visible {
  left: 0;
}

@media screen and (max-width: 1200px) {
  .sidebar {
    padding-left: 20px;
  }
}

@media screen and (max-width: 900px) {
  .sidebar {
    padding-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .sidebar {
    padding: 64px 16px 16px 16px;

    background-color: var(--darker-bg-color);
    position: fixed;
    z-index: 49;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    transition: left 1s;
  }
}
