.navBar {
  margin-top: 20px;
}

.navItem,
.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 48px;
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--grey-font-color);
}

.link:hover > *,
.link:global(.active) > * {
  color: var(--main-font-color);
}

.link svg:global(.fillable) {
  fill: var(--medium-white-color);
  animation: 0.1s linear alternate scale-up-down;
}

.listItem {
  position: relative;
  margin-bottom: 10px;
  list-style: none;
}

.svgWrapper {
  display: flex;
  align-items: center;
}

.svgWrapper svg {
  height: 26px;
  width: 26px;
}

.textWrapper {
  margin-left: 20px;
}

.dropdown {
  justify-content: space-between;
}

.chevron {
  /* box-sizing: border-box;
  height: 22px;
  width: 22px;
  padding-top: 4px; */
  display: flex;
  align-items: center;
}

.chevron svg {
  margin-top: 15%;
  transition: 0.3s ease-out;
}

.chevronOpen {
  transform: rotate(-180deg);
}

.subMenu {
  padding-left: 46px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.subMenuOpen {
  max-height: 200px;
  transition: max-height 0.3s ease-in;
}

@keyframes scale-up-down {
  to {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 1200px) {
  .navItem,
  .link {
    font-size: 1rem;
  }

  .textWrapper {
    margin-left: 15px;
  }

  .subNavLink {
    font-size: 0.9rem;
  }

  .subMenu {
    padding-left: 41px;
  }
}

@media screen and (max-width: 900px) {
  .navItem,
  .link {
    font-size: 0.9rem;
  }

  .svgWrapper svg {
    height: 20px;
    width: 20px;
  }

  .textWrapper {
    margin-left: 8px;
  }

  .subMenu {
    padding-left: 28px;
  }
}

@media screen and (max-width: 600px) {
  .textWrapper {
    margin-left: 12px;
  }

  .subMenu {
    padding-left: 32px;
  }
}
