.imgWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.img {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--dark-bg-color);
}

.imgLoading {
  display: none;
}

.listItemWrapper {
  margin-right: var(--space-l);
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  color: inherit;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 15px 15px 20px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--darker-bg-color);
  transition: background-color 0.3s ease;
}

.listItem:hover :global(.playBtn) {
  opacity: 1;
  right: 5%;
  bottom: 5%;
}

.listItem:hover,
.listItem:active {
  background-color: var(--medium-hover-color);
  cursor: pointer;
}

li.listItem:hover :global(.playBtn) {
  opacity: 1;
  right: 5%;
  bottom: 5%;
}

/* .listItem > :last-child {
  align-self: flex-start;
} */

.textContainer {
  margin-top: var(--space-l);
}

.title,
.subtitle {
  word-break: break-word;
}

.title {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  font-size: 0.8rem;
}

.square {
  border-radius: 5px;
}

.circle {
  border-radius: 50%;
}

.listItem ul {
  margin-top: 15px;
}

.listItem :global(.small-subtext) {
  display: none;
}

.showReset :global(.feather-star) {
  opacity: 0.3;
  fill: none;
}

@media screen and (max-width: 1200px) {
  .title {
    margin-bottom: 0;
  }

  .subtitle {
    display: none;
  }

  .imgOverlay:hover::after {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  .listItemWrapper {
    margin-right: 16px;
  }
}
