.logoContainer {
  /* margin-left: auto;
  margin-right: auto; */
  display: flex;
  align-items: center;
  gap: 12px;
  height: 50px;
  margin-bottom: 10px;
}

.logoContainer h1 {
  font-size: 1.5rem;
}

.logoContainer span {
  color: lightgreen;
  font-style: italic;
}

@media screen and (max-width: 600px) {
  .logoContainer h1 {
    display: none;
  }
}
