.starList {
  display: flex;
  align-items: center;
}

.starList span {
  margin-right: 15px;
}

.notRated li {
  opacity: 0.3;
}

@media screen and (max-width: 1050px) {
  .starList {
    display: none;
  }
}
