.starList {
  display: flex;
  align-items: center;
}

.starList span {
  margin-right: 10px;
}

.notRated li {
  opacity: 0.3;
}

/* @media screen and (max-width: 1050px) {
  .starList {
    display: none;
  }

  :global(.result-container) .starList {
    display: flex;
  }
} */

@media screen and (max-width: 750px) {
  :global(.result-container) .starList {
    display: none;
  }
}
