.results {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 0 8px 25px;
}

.noPadding {
  padding: 0;
}

@media screen and (max-width: 600px) {
  .results:not(.noPadding) {
    padding-left: 16px;
  }
}
