.listItem {
  margin-bottom: 8px;
  list-style: none;
}

.listItem:first-child:not(.logoMobile) {
  margin-top: -9px;
  margin-bottom: 20px;
}

.navLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 48px;
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--grey-font-color);
}

.listItem:first-child .navLink {
  height: 50px;
  color: var(--main-font-color);
}

.listItem:first-child:not(.logoMobile) .navLink .svgWrapper {
  position: relative;
  height: 36px;
  width: 36px;
}

.listItem:first-child:not(.logoMobile) .navLink .svgWrapper svg {
  position: absolute;
  left: -13%;
  top: 0;
}

.listItem:first-child:not(.logoMobile) .navLink .textWrapper {
  margin-left: 10px;
}

.listItem:first-child .navLink h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

.listItem:first-child .navLink span {
  color: lightgreen;
  font-style: italic;
  font-weight: bold;
}

.navLink:hover,
.navLink:global(.active) {
  color: var(--main-font-color);
}

.navLink:global(.active) svg:global(.fillable) {
  fill: var(--medium-white-color);
}

.textWrapper {
  margin-left: 20px;
}

.listItem:not(:first-child) .svgWrapper svg {
  height: 26px;
  width: 26px;
}

.listItem:not(:first-child) .navLink:global(.active) svg {
  animation: 0.1s linear alternate scale-up-down;
}

.logoMobile {
  display: none;
}

@keyframes scale-up-down {
  to {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 1200px) {
  .listItem:first-child:not(.logoMobile) .navLink h1 {
    font-size: 1.3rem;
  }

  .navLink {
    font-size: 1rem;
  }

  .textWrapper {
    margin-left: 15px;
  }

  .listItem:first-child:not(.logoMobile) .navLink .textWrapper {
    margin-left: 5px;
  }
}

@media screen and (max-width: 900px) {
  .listItem:first-child:not(.logoMobile) .navLink h1 {
    font-size: 1.2rem;
  }

  .navLink {
    font-size: 0.9rem;
  }

  .listItem:first-child:not(.logoMobile) .navLink .svgWrapper {
    height: 28px;
    width: 28px;
  }

  .listItem:not(:first-child) .svgWrapper svg {
    height: 20px;
    width: 20px;
  }

  .listItem:first-child:not(.logoMobile) .navLink .svgWrapper svg {
    height: 28px;
    width: 28px;
  }

  .textWrapper {
    margin-left: 8px;
  }

  .listItem:first-child:not(.logoMobile) .navLink .textWrapper {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .logoMobile {
    display: block;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .logoMobile .navLink {
    align-items: flex-start;
  }

  .logoMobile svg {
    margin-top: -8px;
  }

  .textWrapper {
    margin-left: 12px;
  }

  .listItem:first-child:not(.logoMobile) {
    display: none;
  }

  /* .listItem:first-child .navLink .textWrapper {
    margin-left: 10px;
  }

  .listItem:first-child .navLink .svgWrapper svg {
    left: -6%;
  } */
}
