.searchContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(4, 2fr);
  margin-right: 25px;
  margin-bottom: -5px;
}

.searchContainer div:first-child {
  grid-column: 1 / 2;
}

.searchField {
  grid-column: 2 / 4;
  position: relative;
  top: -6px;
  padding-left: 5px;
  padding-right: 10px;
}

@media screen and (max-width: 900px) {
  .searchField {
    grid-column: 2 / 5;
  }
}

@media screen and (max-width: 750px) {
  .searchField {
    grid-column: 1 / 5;
    padding-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .searchField {
    grid-column: 1 / 6;
    top: 0;
  }
}

.searchField input:focus {
  outline: 2px solid var(--light-white-color);
}

.searchField input:hover:not(:focus) {
  cursor: text;
  outline: 2px solid var(--medium-white-color);
}

.searchField input {
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-radius: 24px;
  background-color: var(--dark-bg-color);
  height: 48px;
  padding-left: 40px;
  vertical-align: middle;
  font-size: 1rem;
  color: var(--light-white-color);
}

@media screen and (max-width: 600px) {
  .searchField input {
    height: 32px;
    font-size: 0.9rem;
  }
}

.searchField svg {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
