.horList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 20px;
}

.releases-albums {
  position: relative;
}

h2.title-browse-categories {
  margin-top: 30px;
}

@media screen and (max-width: 1200px) {
  .horList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1050px) {
  .horList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .horList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 750px) {
  h2.title-browse-category {
    margin-top: 7px;
  }
}

@media screen and (max-width: 600px) {
  h2.title-browse-category {
    margin-top: 10px;
  }
}

/* @media screen and (max-width: 480px) {
  .horList {
    grid-template-columns: repeat(1, 1fr);
  }
} */
