.navBar {
  margin-top: 20px;
}

.navLink,
.navItem,
.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 48px;
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--grey-font-color);
}

.navLink:hover,
.link:hover > *,
.navLink:global(.active),
.link:global(.active) > * {
  color: var(--main-font-color);
}

.navLink:global(.active) svg:global(.fillable),
.link svg:global(.fillable) {
  fill: var(--medium-white-color);
}

.listItem {
  position: relative;
  margin-bottom: 10px;
}

.svgWrapper {
  height: 28px;
  width: 28px;
  position: relative;
}

.svgWrapper svg {
  position: absolute;
  left: 2px;
  top: 3px;
}

.textWrapper {
}

.dropdown {
  justify-content: space-between;
}

.chevron {
  box-sizing: border-box;
  height: 22px;
  width: 22px;
  padding-top: 4px;
}

.chevron svg {
  transition: 0.3s ease-out;
}

.chevronOpen {
  transform: rotate(-180deg);
}

.subMenu {
  padding-left: 48px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.subMenuItem {
  padding-bottom: 12px;
}

.subNavLink {
  text-decoration: none;
  color: var(--grey-font-color);
}

.subNavLink:hover,
.subNavLink:global(.active) {
  color: var(--main-font-color);
}

.subMenuOpen {
  max-height: 200px;
  transition: max-height 0.3s ease-in;
}
