.popularityContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  height: 36px;
}

.popularityLabel {
  height: 24px;
  padding-top: 0.2rem;
}

.popularityIcon {
}

.one,
.two,
.three,
.four,
.five {
  fill: var(--medium-bg-color);
}
