.popularityContainer {
  margin-top: 6px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  height: 36px;
}

.popularityIcon {
  position: relative;
  top: 8%;
}

.one,
.two,
.three,
.four,
.five {
  fill: var(--medium-bg-color);
}
