.popularityContainer {
  margin-top: 6px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  height: 36px;
}

.popularityLabel {
  margin-right: 3px;
}

.one,
.two,
.three,
.four,
.five {
  fill: var(--medium-bg-color);
}

@media screen and (max-width: 750px) {
  .popularityContainer {
    display: none;
  }
}
