:global(.playBtn) .playBtnIcon {
  transform: translateX(1px);
}

:global(.btnsContainer) svg.playBtnIcon {
  fill: none;
}

:global(.btnsContainer):hover svg.playBtnIcon {
  stroke: lightseagreen;
  transform: scale(1.1);
}
