.appHeader {
  position: sticky;
  top: 0;
  padding-top: 8px;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  background: black;
  transition: background 1.5s;
}

.noBackground {
  background: transparent;
}

.appHeader > * {
  flex: 1 1 auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: var(--darkest-bg-color);
}

.appHeaderLeft {
  display: flex;
  justify-content: flex-start;
  padding-left: 25px;
  height: 100%;
}

.appHeader svg:global(.feather-headphones) {
  margin-top: 8px;
  margin-bottom: 8px;
}

.appHeaderRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* gap: 16px; */
  padding-right: 30px;
}

@media screen and (min-width: 600px) {
  .appHeader svg:global(.feather-headphones) {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .appHeader :global(.navBtns) {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .appHeader,
  .appHeader > * {
    padding: 0;
    margin: 0;
  }

  .appHeader > * {
    height: 56px;
    background: var(--darker-bg-color);
  }

  /* .appHeaderLeft {
    padding-left: 16px;
  }

  .appHeaderRight {
    padding-right: 16px;
  } */

  .appHeader svg {
    width: 24px;
    height: 24px;
  }
}
