.button {
  background-color: var(--transp-btn-color);
  border-radius: 10px;
  padding: 10px 12px;
  margin-top: 15px;
  border: none;
  color: var(--medium-white-color);
  font-size: 0.9rem;
  font-family: inherit;
  vertical-align: middle;
}

.button:hover {
  background-color: var(--main-btn-color);
}
