.filterContainer {
  border: 1px solid var(--darker-bg-color);
  background-color: var(--darker-bg-color);
  box-shadow: var(--space-s);
  border-radius: var(--space-s);
  padding: 0.4rem;
  display: flex;
  gap: 0.4rem;
}

.filterContainer button {
  margin-top: 0;
  background-color: var(--darker-bg-color);
  border: none;
  border-radius: var(--space-s);
  font-size: 1rem;
  /* To give the same height as select */
  padding: 0.44rem 0.8rem;
  transition: all 0.3s;
}

.filterContainer button:global(.active) {
  background-color: var(--dark-bg-color);
  color: var(--color-brand-50);
}

.filterContainer button:hover:not(:disabled) {
  background-color: var(--dark-bg-color);
  color: var(--color-brand-50);
}

.filterContainer button:global(.active):disabled:hover {
  cursor: not-allowed;
}
