.filterContainer {
  height: 100%;
  border: 1px solid var(--dark-bg-color);
  background-color: var(--darker-bg-color);
  box-shadow: var(--space-s);
  border-radius: var(--space-s);
  padding: 0.3rem;
  display: flex;
  gap: 0.4rem;
}

.filterContainer button {
  margin-top: 0;
  background-color: var(--darker-bg-color);
  border: none;
  border-radius: var(--space-s);
  color: var(--light-white-color);
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: normal;
  /* To give the same height as select */
  padding: 0.5rem 0.8rem;
  transition: all 0.3s;
}

.filterContainer button:global(.active) {
  background-color: var(--grey-bg-color);
  color: white;
}

.filterContainer button:hover:not(:disabled) {
  background-color: var(--dark-bg-color);
}

.filterContainer button:global(.active):disabled:hover {
  cursor: not-allowed;
}

@media screen and (max-width: 900px) {
  .filterContainer button {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  .filterContainer button {
    font-size: 0.8rem;
  }
}
