.app-container {
  /* box-sizing: border-box; */
  min-height: 100vh;
  /* padding: 8px 8px; */
  display: grid;
  grid-template-columns: var(--sidebar-width) auto;
}

.content-container {
  min-height: 100vh;
  /* padding: 0 0 8px 25px; */
  background-color: var(--darkest-bg-color);
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 4px;
  position: relative;
}

.app-container.hamburgerIsOpen {
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

.content-container.header-container {
  padding: 0;
  overflow: clip;
}

.playBtn {
  position: absolute;
  right: 5%;
  bottom: 5%;
  opacity: 0;
  margin-left: auto;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: var(--main-btn-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, bottom 0.3s ease;
}

/* .playBtn:hover {
  background-color: var(--highlight-btn-color);
  cursor: pointer;
} */

@media (hover: none) {
  .playBtn {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .app-container {
    grid-template-columns: var(--sidebar-width-1200) auto;
  }
}

@media screen and (max-width: 1050px) {
  .content-container h3 {
    font-size: 0.8rem;
  }

  .content-container h4 {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 900px) {
  .app-container {
    grid-template-columns: var(--sidebar-width-900) auto;
  }

  /* .content-container:not(.header-container) h3 {
    font-size: unset;
  }

  .content-container:not(.header-container) h4 {
    font-size: unset;
  } */
}

@media screen and (max-width: 600px) {
  .app-container {
    /* grid-template-columns: auto auto; */
    display: block;
    padding: 0;
  }

  .content-container {
    /* padding: 16px 0 16px 16px; */
    margin-left: 0;
    margin-right: 0;
  }

  /* .content-container h3 {
    font-size: 0.8rem;
    font-weight: normal;
  }

  .content-container h4 {
    font-size: 0.7rem;
  } */
}

@media screen and (max-width: 360px) {
  .app-container {
    padding: 0;
  }

  /* .content-container {
    padding-left: 10px;
  } */

  /* .content-container h3 {
    font-size: 0.7rem;
    font-weight: normal;
  }

  .content-container h4 {
    font-size: 0.7rem;
  } */
}
