.app-container {
  /* box-sizing: border-box; */
  min-height: 100vh;
  padding: 8px 8px;
  display: grid;
  grid-template-columns: minmax(250px, 15vw) auto;
}

.content-container {
  padding: 15px 0px 8px 25px;
  background-color: var(--darkest-bg-color);
  margin-left: 8px;
  border-radius: 4px;
}

.content-container.header-container {
  padding: 0;
  overflow: hidden;
}
