.listContainer {
}

.horizontal {
  grid-column: 1 / -1;
}

.right {
  grid-column: 3 / -1;
  margin-right: 25px;
}

.left {
  grid-column: 1 / 3;
  margin-right: 25px;
}

.artistPage:nth-child(2) {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

.artistPage:last-child {
  margin-bottom: 8px;
}

.artistPage {
  margin-left: 25px;
  margin-right: 0;
}

.artistPage {
  margin-left: 25px;
  margin-right: 0;
}

.albumPage:nth-child(2) {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

.favoritePage:first-child {
  margin-right: 25px;
}

@media screen and (max-width: 900px) {
  .left {
    grid-column: 1 / 4;
  }

  .right {
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 600px) {
  .left {
    display: none;
  }

  .artistPage {
    margin-left: 16px;
  }

  .artistPage:nth-child(2),
  .albumPage:nth-child(2) {
    margin-left: 16px;
    margin-right: 16px;
  }
}

/* @media screen and (max-width: 360px) {
  .right {
    margin-right: 10px;
  }
} */
