.horizontal {
  grid-column: 1 / -1;
}

.right {
  grid-column: 3 / -1;
  margin-right: var(--space-l);
}

.left {
  grid-column: 1 / 3;
  margin-right: var(--space-l);
}

.right h2,
.left h2 {
  margin-top: 15px;
}

section:first-child :global(.section-title) {
  margin-top: 15px;
}

.right.home-container-tracks h2:global(.section-title) {
  margin-top: 15px;
}

.artistPage:nth-child(2) {
  margin-top: 10px;
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}

.artistPage:last-child {
  margin-bottom: 8px;
}

.artistPage {
  margin-left: var(--space-l);
  margin-right: 0;
}

.albumPage:nth-child(2) {
  margin-top: 10px;
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}

:global(.favoritePage).container-favorite-songs {
  margin-right: var(--space-l);
}

@media screen and (max-width: 900px) {
  .left {
    grid-column: 1 / 4;
  }

  .right {
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 750px) {
  :global(.favoritePage) h2:global(.section-title) {
    margin-top: 7px;
  }
}

@media screen and (max-width: 600px) {
  .left {
    display: none;
  }

  .right.home-container-tracks h2:global(.section-title),
  :global(.favoritePage) h2:global(.section-title) {
    margin-bottom: 10px;
  }

  .right.search-container-tracks h2:global(.section-title) {
    margin-bottom: 10px;
  }

  .artistPage {
    margin-left: 16px;
  }

  .artistPage:nth-child(2),
  .albumPage:nth-child(2) {
    margin-left: 16px;
    margin-right: 16px;
  }
}

/* @media screen and (max-width: 360px) {
  .right {
    margin-right: 10px;
  }
} */
