.resultContainer {
  position: relative;
}

.result {
  height: 310px;
  padding: 20px;
  background-color: var(--darker-bg-color);
  border-radius: 5px;
}

.result:hover {
  background-color: rgba(60, 60, 60, 0.7);
}

.result:hover :global(.playBtn) {
  opacity: 1;
  right: 5%;
  bottom: 3%;
}

.result :global(.pauseContainer) {
  display: none;
}

.result :global(.noteContainer) {
  opacity: 1;
  right: 5%;
  bottom: 3%;
  background-color: rgb(49, 49, 49, 0.5);
}

.result:hover :global(.pauseContainer) {
  display: flex;
  right: 5%;
  bottom: 3%;
}

.result:hover :global(.noteContainer) {
  display: none;
}

/* .result :global(.pauseNoteContainer) {
  opacity: 1;
  right: 5%;
  bottom: 5%;
  background-color: rgb(49, 49, 49, 0.5);
} */

.img {
  height: 125px;
  width: 125px;
  border-radius: 10px;
}

.itemTitle {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 27px;
  font-weight: bold;
}

.itemTitleSmall {
  letter-spacing: -1px;
  font-size: 21px;
  margin-top: 23px;
  margin-bottom: 33px;
}

.itemSubtitles {
  display: flex;
  align-items: center;
}

.itemSubtitles > * {
  padding-top: 6px;
  padding-bottom: 6px;
  height: 1.1rem;
}

.firstSubtitle {
  font-size: 0.9rem;
  opacity: 0.7;
  margin-right: 15px;
}

.firstSubtitleHidden {
  display: none;
}

.secondSubtitle {
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 15px;
  background-color: var(--darkest-bg-color);
  font-size: 0.9rem;
  font-weight: bold;
}

/* .lastLine {
  display: flex;
  align-items: end;
} */
